.Friend {
  border: 1px solid #555555;
  background-color: #d2d2d2;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.Friend label {
  margin-right: 10px;
}

.Friend__formField {
  height: 15px;
  margin-left: 3px;
}

.Friend__Tags {
  font-size: 20px;
  font-style: italic;
}

.Friend__Tag {
  padding-left: 10px;
  text-decoration: underline;
  color: blue;
}

.Friend__Tag:hover {
  cursor: pointer;
}

.Friend__X {
  color: red;
}
